@model IEnumerable<AcmeCursos.Models.Professor>

<h4>Professores</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Sobrenome)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Titulacao)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(m => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(m => item.Titulacao)
            </td>
        </tr>
    }
</table>
